@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*, *::befor, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #000;
  color: #fff;
}

.header {
  text-align: center;

}
.header .header-title h1 {
  color: #fff;
  font-style: Roboto;
  font-weight: 700;
  font-size: 3.5rem;
}

.header .header-searchbox {
  margin-top: 50px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  max-width: 500px;
  height: 50px;
  margin: 0 auto;
  /* padding-right: 10px; */
} 

.header .header-searchbox .search-img {
  width: 100px;
  height: 100%;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: grey;
}

.header .header-searchbox .search-input {
  border:  none;
  outline: none;
  font-size: 1.5rem;
  padding-left: 10px;
  border-radius: 10px;
  width: 100%;
}


.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 20px;
  justify-content: center;
}

.movie {
  background-color: #3A3845;
  border:  none;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 1px 1px 5px 0px #413F42;
}


.movie .movie-image img {
  width: 100%;
  border-radius: 10px;
  height: 400px;
}

.footer {
  text-align: center;
  font-weight: 700;
  background: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .footer-github {
}
